body {
    background-size: cover;
    background-position: center 30%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    position: relative;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    position: relative;
    z-index: 2;
}

.corner-image {
    float: right;
    width: 350px;
    height: auto;
    margin: 20px 0 20px 20px;
    border-radius: 8px;
    shape-outside: inset(0);
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.post {
    margin-bottom: 40px;
}

.post h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.post p {
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
    color: #000000;
}

.custom-br {
    display: block;
    content: "";
    margin-top: 15px;
    margin-bottom: 15px;
}